@charset "utf-8";

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	font:12px/1.5 arial,tahoma,\5b8b\4f53;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}

/* 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 
	@名称: global
	@功能: 公用样式, 复用性较强的样式
*/

/* 
  @名称: global
  @功能: 公用样式, 复用性较强的样式
*/

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏、显示, 通常用来与 JS 配合 */
.hide {
	display:none;
}
.show {
	display:block;
}

/* 浮动左右, 设置内联, 减少浮动带来的bug */
.fl,.fr {
	display:inline;
}
.fl {
	float:left;
}
.fr {
	float:right;
}

/* 盒子模型 */
/* 盒子模型 */
.mg-t5{margin-top:5px;}
.mg-t6{margin-top:6px;}
.mg-t7{margin-top:7px;}
.mg-t8{margin-top:8px;}
.mg-t9{margin-top:9px;}
.mg-t10{margin-top:10px;}
.mg-t15{margin-top:15px;}
.mg-t20{margin-top:20px;}
.mg-t25{margin-top:25px;}
.mg-t30{margin-top:30px;}
.mg-b5{margin-bottom:5px;}
.mg-b10{margin-bottom:10px;}
.mg-b15{margin-bottom:15px;}
.mg-b20{margin-bottom:20px;}
.mg-b25{margin-bottom:25px;}
.mg-l5{margin-left:5px;}
.mg-l10{margin-left:10px;}
.mg-l15{margin-left:15px;}
.mg-l20{margin-left:20px;}
.mg-l25{margin-left:25px;}
.mg-l30{margin-left:30px;}
.mg-l35{margin-left:35px;}
.mg-l60{margin-left:60px;}
.mg-r5{margin-right:5px;}
.mg-r10{margin-right:10px;}
.mg-r15{margin-right:15px;}
.mg-r20{margin-right:20px;}
.mg-r25{margin-right:25px;}
.pd-t5{padding-top:5px;}
.pd-t10{padding-top:10px;}
.pd-t15{padding-top:15px;}
.pd-t20{padding-top:20px;}
.pd-t25{padding-top:25px;}
.pd-t30{padding-top:30px;}
.pd-t80{padding-top:80px;}
.pd-t100{padding-top:100px;}
.pd-b5{padding-bottom:5px;}
.pd-b10{padding-bottom:10px;}
.pd-b15{padding-bottom:15px;}
.pd-b20{padding-bottom:20px;}
.pd-b25{padding-bottom:25px;}
.pd-b30{padding-bottom:30px;}
.pd-b40{padding-bottom:40px;}
.pd-b100{padding-bottom:100px;}
.pd-l5{padding-left:5px;}
.pd-l10{padding-left:10px;}
.pd-l15{padding-left:15px;}
.pd-l20{padding-left:20px;}
.pd-l25{padding-left:25px;}
.pd-r5{padding-right:5px;}
.pd-r10{padding-right:10px;}
.pd-r15{padding-right:15px;}
.pd-r20{padding-right:20px;}
.pd-r25{padding-right:25px;}

/* 字体设置 */
.msyh {/* 微软雅黑，IE6用黑体代替 */
	font-family: "Microsoft YaHei", SimHei, sans-serif;  
	_font-family: SimHei, sans-serif;
}
.bold{font-weight:bold;}

/* 字体大小 */
.px12{font-size: 12px;}
.px14{font-size: 14px;}
.px16{font-size: 16px;}
.px18{font-size: 18px;}
.px22{font-size: 22px;}
.px24{font-size: 24px;}
.px26{font-size: 26px;}
.px28{font-size: 28px;}

/* 字体颜色、链接色 */
.blue-2a5 {/* 例：链接蓝 */
	color: #2a5bc5;}
	a.blue-2a5:link{color:#2a5bc5; text-decoration:none;} 
	a.blue-2a5:visited{color:#2a5bc5; text-decoration:none;}
	a.blue-2a5:hover{color:#2a5bc5; text-decoration:underline;}
.cRed{color: red}
.cGreen{color: green;}
.cff6600{color: #ff6600}
.c0d72c5{color: #0d72c5}

/*border*/
.borB-d{border-bottom:1px #e5e5e5 dashed;}

/**text-align*/
.txt-c{text-align: center;}
.txt-l{text-align: left;}
.txt-r{text-align: right;}