@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-07-16 16:41:10
 * @version $Id$
 */

 /*通用*/
body{
	color:#3a3a3a;
	font-family:"微软雅黑";
	font-size:12px;margin:0 auto;
	background:#fff;
}

/*公用样式*/
a{text-decoration:none;color:#3a3a3a;}
a:hover, a:active, a:focus{text-decoration:none;}
a:hover,button:hover{filter:alpha(opacity=80);
 -moz-opacity:0.8;
 -khtml-opacity: 0.8;
 opacity: 0.8;}
img {border:none;vertical-align:middle;}

*:focus { outline: none; }

/*背景颜色*/
.bg-gray {
	background:#f8f8f8;
}

.bg-white {
	background:#fff;
}

/*盒子模型*/
.pd-r35 {padding-right:35px;}
.mg-t90 {margin-top:90px;}
.mg-t60 {margin-top:60px;}
.pd-t65 {padding-top:65px;}

/*颜色*/
.gray1 {color:#666;}
.gray2 {color:#d8dee2;}
.gray3 {color:#99abb6;}
.gray4 {color:#71838f;}
.orange1 {color:#eb6446;}


/*行高*/
.lh20 {line-height:20px;}
.lh22 {line-height:22px;}
.lh24 {line-height:24px;}
.lh26 {line-height:26px;}
.lh28 {line-height:28px;}
.lh30 {line-height:30px;}
.lh36 {line-height:36px;}
.lh40 {line-height:40px;}
.lh45 {line-height:45px;}

.lh90 {line-height:90px;}

/*字号*/
.fz24 {font-size:24px;}
.fz14 {font-size:14px;}
.fz16 {font-size:16px;}
.fz18 {font-size:18px;}
.fz20 {font-size:20px;}
.fz22 {font-size:22px;}
.fz36 {font-size:36px;}

h2 {font-weight:normal;}

.ti2 {text-indent:2em;}

/*定位*/
.p-r {position:relative;}
.p-a {position:absolute;}