<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/tomcat-logs/common-web.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/tomcat-logs/common-web.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>3</maxHistory><!-- 3 day  logs -->
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.crawlermanage" level="INFO" />
	
	<!-- project default level -->
	<logger name="com.crawler" level="INFO" />
	
	<!-- project default level -->
	<logger name="com.module" level="INFO" />
	 

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>

	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>